@import "tailwindcss";

*{
  font-family: "Inter", "san serif";
}

.extra{
font-family: 'Great Vibes', cursive;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;

  animation:
    typing 3s steps(40, end),
    blink 0.8s infinite;
}